
//- == Start About Content
.classes-content

  //- ===============================================
  //-           Start Title Section
  //- ===============================================
  // Title Section
  section
    +page_title('CLASSES' , 'FOR EVERYBODY')
  //- ===============================================
  //-           End Title Section
  //- ===============================================
  
  //- ===============================================
  //-           Start Crocal Section
  //- ===============================================
  // CROCAL Section
  section(class="mt-lg-0 pt-lg-0")
    // Class 
    .class
      +class_left(
        "background background_img1" ,
        "PILATES" , 
        "It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar." ,
        "MEDIUM" , 
        "30 MIN" , 
        "675"
      )
    // Class 
    .class
      +class_right(
        "background background_img2" ,
        "YOGA" , 
        "It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar." ,
        "EASY" , 
        "45 MIN" , 
        "675"
      )
    // Class 
    .class
      +class_left(
        "background background_img3" ,
        "CYCLING" , 
        "It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar." ,
        "HARD" , 
        "45 MIN" , 
        "675"
      )
    // Class 
    .class
      +class_right(
        "background background_img4" ,
        "ZUMPA" , 
        "It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar." ,
        "HARD" , 
        "45 MIN" , 
        "675"
      )
    // Class 
    .class
      +class_left(
        "background background_img5" ,
        "KICKBOXING" , 
        "It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar." ,
        "HARD" , 
        "45 MIN" , 
        "675"
      )
    // Class 
    .class
      +class_right(
        "background background_img6" ,
        "SWIMMING" , 
        "It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar." ,
        "HARD" , 
        "45 MIN" , 
        "675"
      )
    // Book 
    +book_section(
      "BOOK YOUR FIRST CLASS NOW" ,
      "You can join us for your first class for free"
    )
