
//- == Start About Content
.location-content

  //- ===============================================
  //-           Start Title Section
  //- ===============================================
  // Title Section
  section
    +page_title('LOCATIONS' , 'AND WORKING HOURS')
  //- ===============================================
  //-           End Title Section
  //- ===============================================
  
  //- ===============================================
  //-           Start Crocal Section
  //- ===============================================
  // CROCAL Section
  section
    .location_section
      .container
        .row 
          +location_map(
          "map1" ,
           "CHICAGO",
           "38 Oatland Avenue",
           "Mon. – Fri. 7:30am – 9:00pm" ,
           "283020" ,
           "Saturday 8:30am – 7:00pm" ,
           "0800 838 0283" ,
           "Sunday 9:00am – 6:00pm"
          )
          +location_map(
          "map1" ,
           "CHICAGO",
           "38 Oatland Avenue",
           "Mon. – Fri. 7:30am – 9:00pm" ,
           "283020" ,
           "Saturday 8:30am – 7:00pm" ,
           "0800 838 0283" ,
           "Sunday 9:00am – 6:00pm"
          )
        .row
          +location_map(
          "map1" ,
           "CHICAGO",
           "38 Oatland Avenue",
           "Mon. – Fri. 7:30am – 9:00pm" ,
           "283020" ,
           "Saturday 8:30am – 7:00pm" ,
           "0800 838 0283" ,
           "Sunday 9:00am – 6:00pm"
          )
          +location_map(
          "map1" ,
           "CHICAGO",
           "38 Oatland Avenue",
           "Mon. – Fri. 7:30am – 9:00pm" ,
           "283020" ,
           "Saturday 8:30am – 7:00pm" ,
           "0800 838 0283" ,
           "Sunday 9:00am – 6:00pm"
          )
      

        
