footer(class="container ml-0" data-aos="fade-right") 
  .row
    div(class="footer container mr-0") 
      div(class="row")
        // Socials 
        ul(class="line-main" data-aos="zoom-in-left" data-aos-delay="500") 
          li(data-aos="fade-down" data-aos-delay="1000") 
            a 
              i(class="fab fa-twitter-square")
          li(data-aos="fade-down" data-aos-delay="1300") 
            a 
              i(class="fab fa-facebook-square")
          li(data-aos="fade-down" data-aos-delay="1600") 
            a 
              i(class="fab fa-youtube")
          li(data-aos="fade-down" data-aos-delay="1900") 
            a 
              i(class="fab fa-instagram")
      .row
        // Parterers 
        .parterers
          h5 PARTERERS
          ul
            li(data-aos="zoom-in" data-aos-delay="100") 
              img(src="assets/imgs/footer/partner1.png")
            li(data-aos="zoom-in" data-aos-delay="300") 
              img(src="assets/imgs/footer/partner2.png")
            li(data-aos="zoom-in" data-aos-delay="500") 
              img(src="assets/imgs/footer/partner3.png")
      .row
        hr
      .row
        // Copy Right 
        .copyRight 
          span &copy; Crocal Fit 2019. All rights reserved. Images by HBKarim.
            
            
            
            
