
// Metas 
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

// Links 
// - Icon - 
link(rel="icon" href="assets/imgs/icon/icon.ico")
// - Bootstrap Style - 
link(rel="stylesheet" href="assets/css/includes/css-plugins/bootstrap.min.css")
// - Fontawesome Style - 
link(rel="stylesheet" href="assets/css/includes/css-plugins/all.min.css")
// - Font - 
link(href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet")
// - Main Style - 
link(rel="stylesheet" href="assets/css/style.css")
// - Animation - 
link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
