// == Scripts == 
// Jquery 
script(src="https://code.jquery.com/jquery-3.3.1.js")
// Nicescroll 
script(src="assets/js/jquery.nicescroll.min.js")
// Bootstrap 
script(src="assets/js/bootstrap.min.js")
// Animation 
script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
// Map 
//-script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.1.0/js/jquery.mapael.min.js" charset="utf-8")
script(type="text/javascript" src="https://rawgit.com/neveldo/mapael-maps/master/world/world_countries.js" charset="utf-8")
// Main Script 
script(src="assets/js/main.js")
