
//- Mixin For Title of page
mixin page_title(title_1 , title_2)
  .container
    .title_page
      h1(class="main-title" data-aos="fade-up" data-aos-delay="1500")= title_1
      h1(data-aos="fade-up" data-aos-delay="1700")= title_2
  div(class="line-main line-title container ml-0 pl-0" data-aos="zoom-in-left")
