//- Mixin For Different Details
mixin different_detail(different_title , different_content_1 , different_content_2)
  div(class="different-content-item col-md-3")
    h1= different_title
    span= different_content_1
    span= different_content_2
